/* App.css */

.navbar-brand,
.nav-link,
.navbar-toggler-icon {
  color: white !important; /* Change to your desired color */
}

.nav-link:hover,
.navbar-brand:hover {
  color: lightgray !important; /* Change hover color if needed */
}

.dropdown-menu .dropdown-item {
  color: black !important; /* Dropdown items color */
}

.dropdown-menu .dropdown-item:hover {
  color: white !important; /* Dropdown items hover color */
  background-color: black !important; /* Change dropdown hover background color if needed */
}
