h2{
    margin-top: 40px;
    text-align: center;
    color :black;
}

.vowel{
    border: 3px solid aqua;
    padding-bottom: 7px;
    border-radius: 10px;
    width : 18%;
    text-align: center;
}

.form-control{
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.btn{
    width : 24%;
    text-align: center;
}

h3{
    margin-top: 25px;
    text-align: center;
    color :black;
}

p{
    
    margin-left: 10px;
    text-align: center;
    color :black;
}